
  
  body {
    
    background-color: black;
  }

  .card {
    padding: 10px;
    margin:18%;
    background: rgba(212, 177, 123, 0.842);
    text-align: center;
    border-radius: 10px;
    position: relative;
  }

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  .card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,orange, blue, red);
    top:50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding : 3 px;
    border-radius: 10px;
    animation: 3s spin linear infinite;

  }
  .card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
  }

  .avatar {
    align-items: center;
    vertical-align: bottom;
    float: left;
    width: 200px;;
    height: 200px;
    border-radius: 100%;
    border-color:antiquewhite;
    
  }

  h1 {
    margin-left: 80px;
    margin-right: 80px;
    text-align: left;
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
      
    font-size: 10rem;
    color: white;
  }
  p {
    color: whitesmoke;
  }
  